# App
NODE_ENV=
PORT=
HOST_PORT=
SESSION_SECRET=


# MongoDB
MONGO_HOST_PORT= # only for dev. Not to be exposed on prod
MONGO_URL=


# Email notifications
GMAIL_USER=
GMAIL_APP_PASSWORD=
BIN_REMINDER_CRON=

# Wiltshire Gov API
BIN_COLLECTION_API=
ADDRESS_LIST_API=