@import '../../../node_modules/govuk-frontend/dist/govuk';
.calendar {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    font-family: 'GDS Transport', arial, sans-serif;
    color: $govuk-text-colour;
}

.month-year-display {
    background: $govuk-brand-colour;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: govuk-colour('white');
}

.calendar-header {
    background: $govuk-brand-colour;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: govuk-colour('white');
}

.calendar-nav-link {
    color: govuk-colour('white');
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s;
}

.calendar-nav-link:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: govuk-colour('light-blue');
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: govuk-colour('white');
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #ddd;
}

.calendar-day {
    background: white;
    padding: 10px;
    min-height: 80px;
    position: relative;
}

.calendar-day.other-month {
    background: govuk-colour('mid-grey');
    color: govuk-colour('light-grey');
}

.date-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
}

.collection-event {
    margin-top: 25px;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
}

.collection-event.res {
    background: govuk-colour('black');
    color: govuk-colour('white');
}

.collection-event.pod {
    background: govuk-colour('dark-blue');
    color: govuk-colour('white');
}

.date-number.today {
    background-color: $govuk-brand-colour;
    color: govuk-colour('white');
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}
